In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statistics import mean
from statistics import mode
import warnings
warnings.filterwarnings('ignore')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:

data=pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/pharma_data/Training_set_begs.csv')

In [3]:
data.head()

   ID_Patient_Care_Situation  ...  Survived_1_year
0                      22374  ...                0
1                      18164  ...                1
2                       6283  ...                0
3                       5339  ...                1
4                      33012  ...                1

[5 rows x 18 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23097 entries, 0 to 23096
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID_Patient_Care_Situation  23097 non-null  int64
 1   Diagnosed_Condition        23097 non-null  int64
 2   Patient_ID                 23097 non-null  int64
 3   Treated_with_drugs         23084 non-null  object
 4   Patient_Age                23097 non-null  int64
 5   Patient_Body_Mass_Index    23097 non-null  float64
 6   Patient_Smoker             23097 non-null  object
 7   Patient_Rural_Urban        23097 non-null  object
 8   Patient_mental_condition   23097 non-null  object
 9   A                          21862 non-null  float64
 10  B                          21862 non-null  float64
 11  C                          21862 non-null  float64
 12  D                          21862 non-null  float64
 13  E                          21862 non-null  float64
 14  F                          21862 non-null  float64
 15  Z                          21862 non-null  float64
 16  Number_of_prev_cond        21862 non-null  float64
 17  Survived_1_year            23097 non-null  int64
dtypes: float64(9), int64(5), object(4)
memory usage: 3.2+ MB

In [5]:
data=data.drop("Patient_ID",axis=1)
data=data.drop("ID_Patient_Care_Situation",axis=1)

In [6]:
data.isnull().sum()

Diagnosed_Condition            0
Treated_with_drugs            13
Patient_Age                    0
Patient_Body_Mass_Index        0
Patient_Smoker                 0
Patient_Rural_Urban            0
Patient_mental_condition       0
A                           1235
B                           1235
C                           1235
D                           1235
E                           1235
F                           1235
Z                           1235
Number_of_prev_cond         1235
Survived_1_year                0
dtype: int64

In [7]:

data["Treated_with_drugs"]=data["Treated_with_drugs"].fillna(mode(data["Treated_with_drugs"]))
data["A"]=data["A"].fillna(mode(data["A"]))
data["B"]=data["B"].fillna(mode(data["B"]))
data["C"]=data["C"].fillna(mode(data["C"]))
data["D"]=data["D"].fillna(mode(data["D"]))
data["E"]=data["E"].fillna(mode(data["E"]))
data["F"]=data["F"].fillna(mode(data["F"]))
data["Z"]=data["Z"].fillna(mode(data["Z"]))

In [8]:
data["Number_of_prev_cond"]=data.apply(lambda row: row.A + row.B + row.C + row.D + row.E + row.F + row.Z , axis=1)

In [9]:
data.isnull().sum()

Diagnosed_Condition         0
Treated_with_drugs          0
Patient_Age                 0
Patient_Body_Mass_Index     0
Patient_Smoker              0
Patient_Rural_Urban         0
Patient_mental_condition    0
A                           0
B                           0
C                           0
D                           0
E                           0
F                           0
Z                           0
Number_of_prev_cond         0
Survived_1_year             0
dtype: int64

In [11]:
data['Patient_Rural_Urban']=data['Patient_Rural_Urban'].apply(lambda x : 1 if x =='URBAN' else 0 )
data['Patient_mental_condition']=data['Patient_mental_condition'].apply(lambda x : 1 if x =='Stable' else 0 )
data['Patient_Smoker']=data['Patient_Smoker'].apply(lambda x : 1 if x =='YES' else 0 )
data=pd.get_dummies(data,columns=["Treated_with_drugs"])

In [13]:
X=data.drop("Survived_1_year",axis=1)
y=data["Survived_1_year"]

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.17, random_state=2)

In [15]:
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingClassifier
x=HistGradientBoostingClassifier(random_state=2,max_depth=3
                                 ,max_iter=10450,min_samples_leaf=100,
                                  l2_regularization=25.0,learning_rate=0.0175)
x.fit(X_train,y_train)

HistGradientBoostingClassifier(l2_regularization=25.0, learning_rate=0.0175,
                               loss='auto', max_bins=255, max_depth=3,
                               max_iter=10450, max_leaf_nodes=31,
                               min_samples_leaf=100, n_iter_no_change=None,
                               random_state=2, scoring=None, tol=1e-07,
                               validation_fraction=0.1, verbose=0,
                               warm_start=False)

In [16]:
pred0=x.predict(X_test)

In [17]:
from sklearn.metrics import f1_score
f1_score(y_test,pred0)

0.8751476959432847

In [18]:

test_new = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/pharma_data/Testing_set_begs.csv')

In [19]:

test_new.head()

   ID_Patient_Care_Situation  Diagnosed_Condition  ...    Z Number_of_prev_cond
0                      19150                   40  ...  0.0                 2.0
1                      23216                   52  ...  0.0                 2.0
2                      11890                   50  ...  0.0                 2.0
3                       7149                   32  ...  0.0                 3.0
4                      22845                   20  ...  0.0                 1.0

[5 rows x 17 columns]

In [20]:
test_new.isnull().sum()

ID_Patient_Care_Situation    0
Diagnosed_Condition          0
Patient_ID                   0
Treated_with_drugs           0
Patient_Age                  0
Patient_Body_Mass_Index      0
Patient_Smoker               0
Patient_Rural_Urban          0
Patient_mental_condition     0
A                            0
B                            0
C                            0
D                            0
E                            0
F                            0
Z                            0
Number_of_prev_cond          0
dtype: int64

In [21]:
test_new=test_new.drop("Patient_ID",axis=1)
test_new=test_new.drop("ID_Patient_Care_Situation",axis=1)

In [22]:
test_new['Patient_Rural_Urban']=test_new['Patient_Rural_Urban'].apply(lambda x : 1 if x =='URBAN' else 0 )
test_new['Patient_mental_condition']=test_new['Patient_mental_condition'].apply(lambda x : 1 if x =='Stable' else 0 )
test_new['Patient_Smoker']=test_new['Patient_Smoker'].apply(lambda x : 1 if x =='YES' else 0 )
test_new=pd.get_dummies(test_new,columns=["Treated_with_drugs"])

In [23]:
pred=x.predict(test_new)

In [24]:
res = pd.DataFrame(pred)
res.index = test_new.index 
res.columns = ["prediction"]
res.to_csv("prediction_results.csv")